@import "../../../../styles/variables";
@import "../../../../styles/font_variables";
@import "../../../../styles/breakpoints"; // Import breakpoints
@import "../../../../styles/mixins"; // Import mixin

.header {
  padding: 1% 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cfd1d2;

  &__group_one {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    &-search {
      width: 30rem;

      &__input {
        width: 100%;
        padding: 1rem 3rem;
        font-size: $font-size-sm;
      }
    }
  }

  &__logo {
    width: 3rem;
    cursor: pointer;
  }

  &__search {
    width: 25rem;

    &-input {
      width: 100%;
    }
  }

  &__group_two {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  &__navigate {
    width: 45rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-item {
      font-size: $font-size-lg;
      border-radius: 5px;
      position: relative;
      text-align: center;
      gap: 0;
      padding: 0% 4%;
      font-weight: $font-weight-medium;

      &:hover::after {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -15px;
        background-color: $primary-darker;
        border-radius: 50%;
      }
    }

    .active::after {
      content: "";
      width: 7px;
      height: 7px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -15px;
      background-color: $primary-darker;
      border-radius: 50%;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__login_avt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    &-login {
      color: $text-white;
      background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
      font-weight: $font-weight-bold;
      padding: 0.7rem 1.5rem;
      border-radius: 0.5rem;
      text-align: center;
      border-width: 0;
      margin-left: 1rem;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
      }
    }
  }

  &__group_three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    flex: 1;

    &-login {
      color: $text-white;
      background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
      font-weight: $font-weight-bold;
      padding: 0.7rem 1.5rem;
      border-radius: 0.5rem;
      text-align: center;
      border-width: 0;
      margin-left: 1rem;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
      }
    }

    &-header {
      padding: 1% 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #cfd1d2;

      &__avatar-icon {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
      }

      &__avatar-image {
        margin-top: 0.25rem;
        cursor: pointer;
      }

      &__avatar-panel {
        display: flex;
        flex-direction: column;
        width: 15rem;
      }

      &__avatar-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid $border-color-light;

        &-image {
          border-radius: 100%;
        }

        &-text {
          display: flex;
          flex-direction: column;
        }

        &-name {
          margin: 0;
          color: $text-black;
        }

        &-email {
          margin: 0;
          color: $text-gray-800;
          font-size: $font-size-sm;
          white-space: nowrap; // Prevent text from wrapping to the next line
          overflow: hidden; // Hide the overflow text
          text-overflow: ellipsis; // Add ellipsis (...) if the text overflows
          max-width: 20ch; // Set a maximum width, using 'ch' to approximately match the character count
        }

        &__search {
          width: 100%;
        }
      }

      &__points {
        &-details {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &-label {
          color: $text-btn-gray-900;
        }

        &-value {
          flex-basis: 30%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          &-amount {
            color: $text-btn-gray-900;
            margin-right: 0.5rem;
          }
        }

        &-button {
          margin-top: 0.5rem;
          padding: 0.5rem 1rem;
          font-size: $font-size-sm;
          font-weight: $font-weight-medium;
          color: $text-btn-gray-900;
          border: 1px solid $text-btn-gray-900;
          border-radius: 0.5rem;
          background-color: transparent;
          width: 100%;
          cursor: pointer;

          &:hover {
            background-color: $text-btn-gray-900;
            color: $text-white;
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
          }
        }
      }

      &__avatar-profile {
        padding: 0;
        border-bottom: 1px solid $border-color-light;

        &-link {
          color: $text-gray-900;
          font-size: 1rem;
          cursor: pointer;
          transition: font-weight 0.3s, color 0.3s;

          &:hover {
            font-weight: $font-weight-bold;
            color: $text-btn-gray-900;
          }
        }
      }

      &__avatar-blog {
        padding: 0.75rem 0;
        border-bottom: 1px solid $border-color-light;

        &-link {
          color: $text-gray-900;
          font-size: $font-size-md;
          cursor: pointer;
          transition: font-weight 0.3s, color 0.3s;

          &:hover {
            font-weight: $font-weight-bold;
            color: $text-btn-gray-900;
          }
        }
      }

      &__history {
        padding: 0.75rem 0;
        border-bottom: 1px solid $border-color-light;

        &-link {
          color: $text-gray-900;
          font-size: 1rem;
          cursor: pointer;
          transition: font-weight 0.3s, color 0.3s;

          &:hover {
            font-weight: $font-weight-bold;
            color: $text-btn-gray-900;
          }
        }
      }

      &__settings {
        padding: 0.75rem 0;

        &-link {
          color: $text-gray-900;
          font-size: 1rem;
          cursor: pointer;
          transition: font-weight 0.3s, color 0.3s;

          &:hover {
            font-weight: $font-weight-bold;
            color: $text-btn-gray-900;
          }
        }
      }

      &__login-button {
        color: $text-white;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        font-weight: $font-weight-bold;
        padding: 0.7rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        border: none;
        margin-left: 1rem;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
        }
      }
    }

    &__notification-container {
      position: relative;
      display: inline-block; /* Ensures the container only takes up as much space as the avatar */
    }
    
    &__notification-badge {
      position: absolute;
      top: 0; /* Position at the top */
      right: 0; /* Position at the right */
      transform: translate(0%, -10%); /* Adjust to move it slightly out */
      border-radius: 50%; /* Make it circular */
      padding: 5px; /* Size of the badge */
      font-size: $font-size-md; /* Font size inside the badge */

      &-dot {
        width: 0.7rem;
        height: 0.7rem;
        background-color: $error-color;
        border-radius: 50%;
        display: block;
      }
    }

    &__notification-image {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.more-option {
  max-width: 30rem;
  min-width: 10rem;
  border-bottom: 1px solid $border-color-light;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &-name {
      color: $text-gray-900;
      font-size: 1rem;
      cursor: pointer;
      transition: font-weight 0.3s, color 0.3s;
  
      &:hover {
        font-weight: $font-weight-bold;
        color: $text-btn-gray-900;
      }
    }
  }
}

@include respond-to(xxl) {
  // Specific styles for 2560px screens and below
}

@include respond-to(xl) {
  // Styles for 1440px screens and below
  .header__group_one-search {
    width: 25rem;
  }
}

@include respond-to(lg) {
  .header {
    padding: 0;
    display: none;
  }

  .header_mobile {
    display: block !important;
    padding: 2% 5%;
    position: relative;

    &__group_one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.3rem;
    }

    &__logo {
      width: 2rem;
    }

    &__search {
      width: 40rem;

      &-input {
        width: 100%;
      }
    }

    &__login_avt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      &-login {
        color: $text-white;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        font-weight: $font-weight-bold;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        border-width: 0;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
        }
      }
    }

    &__group_two {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -5%;
      background-color: $text-white;
      border-top: 1px solid #e8ebed;
      z-index: 100;
      padding: 2% 5%;
    }

    &__navigate {
      padding: 0% 5%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          color: #404040;
          font-size: $font-size-md;
          margin: 4px;
          font-weight: $font-weight-medium;
        }

        i {
          color: #404040;
        }
      }
    }

    .header_mobile__navigate-item.active {
      p {
        color: #000 !important;
        font-weight: $font-weight-bold !important;
      }

      i {
        color: #000;
      }
    }
  }

  ::ng-deep {
    .p-overlaypanel-content {
      max-width: 25rem;
    }
  }
}

@include respond-to(md) {
  .header {
    padding: 0;
    display: none;
  }

  .header_mobile {
    display: block !important;
    padding: 2% 5%;
    position: relative;

    &__group_one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.3rem;
    }

    &__logo {
      width: 2rem;
    }

    &__search {
      width: 30rem;

      &-input {
        width: 100%;
      }
    }

    &__login_avt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      &-login {
        color: $text-white;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        font-weight: $font-weight-bold;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        border-width: 0;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
        }
      }
    }

    &__group_two {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -5%;
      background-color: $text-white;
      border-top: 1px solid #e8ebed;
      z-index: 100;
      padding: 2% 5%;
    }

    &__navigate {
      padding: 0% 5%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          color: #404040;
          font-size: $font-size-md;
          margin: 4px;
          font-weight: $font-weight-medium;
        }

        i {
          color: #404040;
        }
      }
    }

    .header_mobile__navigate-item.active {
      p {
        color: #000 !important;
        font-weight: $font-weight-bold !important;
      }

      i {
        color: #000;
      }
    }
  }

  ::ng-deep {
    .p-overlaypanel-content {
      max-width: 25rem;
    }
  }
}

@include respond-to(sm) {
  .header {
    padding: 0;
    display: none;
  }

  .header_mobile {
    display: block !important;
    padding: 2% 5%;
    position: relative;

    &__group_one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.3rem;
    }

    &__logo {
      width: 2rem;
    }

    &__search {
      width: 10rem;

      &-input {
        width: 100%;
      }
    }

    &__login_avt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      &-login {
        color: $text-white;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        font-weight: $font-weight-bold;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        border-width: 0;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
        }
      }
    }

    &__group_two {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -5%;
      background-color: $text-white;
      border-top: 1px solid #e8ebed;
      z-index: 100;
      padding: 2% 5%;
    }

    &__navigate {
      padding: 0% 5%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          color: #404040;
          font-size: $font-size-md;
          margin: 4px;
          font-weight: $font-weight-medium;
        }

        i {
          color: #404040;
        }
      }
    }

    .header_mobile__navigate-item.active {
      p {
        color: #000 !important;
        font-weight: $font-weight-bold !important;
      }

      i {
        color: #000;
      }
    }
  }

  ::ng-deep {
    .p-overlaypanel-content {
      max-width: 25rem;
    }
  }
}

@include respond-to(xs) {
  .header {
    padding: 0;
    display: none;
  }

  .header_mobile {
    display: block !important;
    padding: 2% 5%;
    position: relative;

    &__group_one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.3rem;
    }

    &__logo {
      width: 2rem;
    }

    &__search {
      width: 10rem;

      &-input {
        width: 100%;
      }
    }

    &__login_avt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      &-login {
        color: $text-white;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        font-weight: $font-weight-bold;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        border-width: 0;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
        }
      }
    }

    &__group_two {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -5%;
      background-color: $text-white;
      border-top: 1px solid #e8ebed;
      z-index: 100;
      padding: 2% 5%;
    }

    &__navigate {
      padding: 0% 5%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          color: #404040;
          font-size: $font-size-md;
          margin: 4px;
          font-weight: $font-weight-medium;
        }

        i {
          color: #404040;
        }
      }
    }

    .header_mobile__navigate-item.active {
      p {
        color: #000 !important;
        font-weight: $font-weight-bold !important;
      }

      i {
        color: #000;
      }
    }
  }

  ::ng-deep {
    .p-overlaypanel-content {
      max-width: 25rem;
    }
  }
}

@include respond-to(xxs) {
  .header {
    padding: 0;
    display: none;
  }

  .header_mobile {
    display: block !important;
    padding: 2% 5%;
    position: relative;

    &__group_one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.3rem;
    }

    &__logo {
      width: 2rem;
    }

    &__search {
      width: 10rem;

      &-input {
        width: 100%;
      }
    }

    &__login_avt {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      &-login {
        color: $text-white;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        font-weight: $font-weight-bold;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        border-width: 0;
        cursor: pointer;

        &:hover {
          background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
        }
      }
    }

    &__group_two {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-left: -5%;
      background-color: $text-white;
      border-top: 1px solid #e8ebed;
      z-index: 100;
      padding: 2% 5%;
    }

    &__navigate {
      padding: 0% 5%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          color: #404040;
          font-size: $font-size-md;
          margin: 4px;
          font-weight: $font-weight-medium;
        }

        i {
          color: #404040;
        }
      }
    }

    .header_mobile__navigate-item.active {
      p {
        color: #000 !important;
        font-weight: $font-weight-bold !important;
      }

      i {
        color: #000;
      }
    }
  }

  ::ng-deep {
    .p-overlaypanel-content {
      max-width: 25rem;
    }
  }
}