@import "../../../../../styles/variables";
@import "../../../../../styles/font_variables";

.section-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 100%;

  &__item {
    height: 35rem;
    border-left: 1px solid $border-color-light;
    border-bottom: 1px solid $border-color-light;
    box-sizing: border-box;
    border-radius: 25px 25px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
    position: relative;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: $primary-light;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &::after {
      transition: 1s linear;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      content: "";
      display: block;
      box-sizing: border-box;
      z-index: -1;
    }
  }
}

.section-blog__btn {
  margin-top: 1rem;
  margin-right: 0;
  margin-left: auto;
  display: block;
  width: max-content;
  padding: 5px 15px;
  border: 0.5px solid $border-color-light;
  border-top: 0.5px solid $border-color-light;
  border-radius: 25px;
  text-align: center;
  font-style: italic;
  font-weight: $font-weight-medium;
  font-size: 15px;
  line-height: 18px;
  color: $text-gray-800;
  text-decoration: none !important;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .section-blog {
    grid-template-columns: 1fr;
  }

  .section-blog__item {
    height: auto;
    padding: 1rem;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-blog__item {
    height: auto;
    padding: 1.5rem;
    border-radius: 20px;
  }
}
