@import "../../../../../../../styles/variables";
@import "../../../../../../../styles/font_variables";

.calendar__day-content {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

.calendar__day-top {
    height: 1rem;
    padding-top: 0.5rem;
}

.calendar__day-number {
    color: #555555;
}

.calendar__day-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.calendar__event-dot {
    width: 8px;
    height: 8px;
    background-color: #003a8c;
    border-radius: 50%;
}

.active {
    padding: 0.75rem;
    border: 1px solid #003a8c;
    border-radius: 6px;
}