<div class="danger-zone">
    <h2 class="danger-zone__title">Đóng tài khoản</h2>
    <p class="danger-zone__content"><strong>Cảnh báo:</strong> Nếu bạn đóng tài khoản của bạn, bạn sẽ bị hủy đăng ký khỏi tất cả 0 khóa học và sẽ mất
        vĩnh viễn quyền truy cập vào tài khoản cũng như dữ liệu được liên kết với tài khoản của bạn, ngay cả khi bạn
        chọn tạo tài khoản mới dùng cùng một địa chỉ email trong tương lai.</p>
    <p class="danger-zone__content">Xin lưu ý, nếu muốn khôi phục tài khoản của bạn sau khi gửi yêu cầu xóa, bạn sẽ có 14 ngày sau ngày gửi ban đầu
        để liên hệ với unicourse.learningplatform&#64;gmail.com để hủy yêu cầu này.</p>
    <ng-container *ngIf="step === 'initiate-account-closure'; else confirmOTP">
        <p-button (click)="handleInitiateAccountClosure()" icon="pi pi-exclamation-triangle" label="Đóng tài khoản" severity="contrast" />
    </ng-container>
    <ng-template #confirmOTP>
        <div class="danger-zone__otp">
            <label class="danger-zone__otp-label">Nhập mã OTP</label>
            <p-inputOtp [length]="6" [(ngModel)]="value" [integerOnly]="true" />
        </div>
        <div class="danger-zone__btn">
            <p-button (click)="handleCancelAccountClosure()" icon="pi pi-chevron-left" class="mobile-only" />
            <p-button (click)="handleCancelAccountClosure()" icon="pi pi-chevron-left" label="Trở về" class="desktop-only"/>
            <p-button (click)="handleCompleteAccountClosure()" icon="pi pi-exclamation-triangle" label="Xác nhận đóng" severity="contrast" />
        </div>
    </ng-template>
</div>