.course-feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 100%;
}

/*
*************************************************
Style Web responsive (mobile)
*************************************************
*/
@media (max-width: 599px) {
  .course-feedback {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: 100%;
  }
}
