@import "../../../styles/variables";
@import "../../../styles/font_variables";

.course-mentor-detail {
    padding: 2% 10%;

    &__section-one {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        &__info-container {
            flex-basis: 60%;
        }

        &__center-container {
            flex: 1;
        }
    }
}

@media (max-width: 768px) {
    .course-mentor-detail {
        padding: 0;
        &__section-one {
            flex-direction: column;
        }
    }
}

@media (max-width: 599px) {
    .course-mentor-detail {
        padding: 0;
        &__section-one {
            flex-direction: column;
        }
    }
}