<section class="notification-container">
    <header class="notification-container__header">
        <h3>Thông báo</h3>
        <p (click)="markAllAsReaded()">Đánh dấu đã đọc</p>
    </header>

    <!-- CONTENT ZONE -->
    <ng-container *ngIf="!loadingNoti; else loadingZone">
        <ng-container *ngIf="notifications && notifications.data && notifications.data.length > 0; else empty">
            <ul class="notification-container__list">
                <li *ngFor="let item of notifications.data">
                    <div (click)="markAsReaded(item)" class="notification-container__list__item"
                        [ngClass]="{ not_yet_read: !item.is_read }">
                        <ng-container *ngIf="item.notification?.category == 'SYSTEM'; else userNoti">
                            <div class="notification-container__list__item__avatar">
                                <img src="../../../../../assets/logo/unicourse-logo.webp" alt="avatar" />
                            </div>
                        </ng-container>
                        <ng-template #userNoti>
                            <p-avatar [image]="item.notification?.sender?.profile_image" size="large" shape="circle" />
                        </ng-template>
                        <div class="notification-container__list__item__content">
                            <p [pTooltip]="item.notification?.description"
                                class="notification-container__list__item__content__title">{{ item.notification?.description }}</p>
                            <p class="notification-container__list__item__content__date">{{ convertDateToString(item.created_at) }}
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="notifications.totalPages > 1" class="notification-container__btn-container">
                <p-button [disabled]="notifications.page == 1" (click)="handleMovePrevNotification()" [text]="true" label="Trước" icon="pi pi-angle-left" size="small" severity="secondary"/>
                <p-button [disabled]="notifications.page == notifications.totalPages" (click)="handleMoveNextNotification()" [text]="true" label="Sau" icon="pi pi-angle-right" size="small" iconPos="right" severity="secondary"/>
            </div>
        </ng-container>
        <ng-template #empty>
            <p class="notification-container__empty">Không có thông báo nào</p>
        </ng-template>
    </ng-container>

    <!-- LOADING ZONE -->
    <ng-template #loadingZone>
        <ul class="notification-container__list">
            <li *ngFor="let item of [1,2,3]">
                <div class="notification-container__list__item">
                    <div>
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
                    </div>
                    <div>
                        <p-skeleton width="10rem" styleClass="mb-2" />
                        <p-skeleton width="5rem" styleClass="mb-2" />
                    </div>
                </div>
            </li>
        </ul>
    </ng-template>
</section>