@import "../../../../../styles/variables";
@import "../../../../../styles/font_variables";

:host ::ng-deep {
    .p-button {
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        border: none;

        &:hover {
            background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }
    }
}

.avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;

    &__preview {
        margin-bottom: 10px;
    }

    &__image {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__button {
        padding: 10px 20px;
        background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
        color: $text-white;
        border: none;
        cursor: pointer;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:hover {
            background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
        }
    }

    .file-info {
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
        color: $text-black;

        p {
            margin: 0;
            font-size: $font-size-sm;
            font-weight: $font-weight-semibold;
        }

        span {
            font-weight: $font-weight-regular;
        }
    }
}