<div class="course-mentor__content">
    <ng-container *ngIf="!blockedUI; else loading">
        <div class="course-mentor__content-info">
            <h1 class="course-mentor__content-info-title">
                {{ courseMentor?.title }}
            </h1>

            <p class="course-mentor__content-info-subtitle">
                {{ courseMentor?.description }}
            </p>

            <div class="course-mentor__content-info-bage-ratings-enrollment">
                <div class="course-mentor__content-info-bage-ratings-enrollment-item">
                    <p-badge [value]="'Bestseller'" severity="warning" />
                </div>

                <div class="course-mentor__content-info-bage-ratings-enrollment-item">
                    <p [ngStyle]="{ color: '#f69c08' }">4.7</p>
                    <i class="pi pi-star-fill" style="color: #f69c08"></i>
                    <a>(308,562 đánh giá)</a>
                    <p>1,322,016 học viên</p>
                </div>
            </div>

            <div class="course-mentor__content-info-author">
                <a> Người hướng dẫn: {{ courseMentor?.mentor?.user?.full_name }} </a>
                <p>Cập nhật {{ convertDateToString(courseMentor?.updated_at) }}</p>
            </div>

            <a (click)="scrollToTarget()" class="course-mentor__content-info-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
                    <defs>
                        <style>
                            .arrow1-1 {
                                fill: #4d4d4d;
                            }

                            .cls-2 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <circle class="arrow1-1" cx="20" cy="20" r="20"></circle>
                            <path class="cls-2" d="M20,24.5a.5.5,0,0,1-.5-.5V12a.5.5,0,0,1,1,0V24A.5.5,0,0,1,20,24.5Z">
                            </path>
                            <path class="cls-2"
                                d="M20,28.5a.52.52,0,0,1-.38-.17l-3.5-4a.5.5,0,1,1,.76-.66L20,27.24l3.12-3.57a.5.5,0,0,1,.76.66l-3.5,4A.52.52,0,0,1,20,28.5Z">
                            </path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </ng-container>

    <ng-template #loading>
        <div class="course-mentor__content-info">
            <p-skeleton styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton height="2rem" styleClass="mb-2" />
            <p-skeleton width="10rem" height="4rem" />
        </div>
    </ng-template>
</div>