@import "../../../../styles/breakpoints";
@import "../../../../styles/mixins";

:host ::ng-deep {
  .p-dock {
    z-index: 1000;
    align-items: end;
    position: fixed;
    .p-dock-list-container {
      background: none;
      border: none;
    }
    .p-dock-link {
      img {
        cursor: pointer;
        width: 5rem;
      }
    }
  }
}

.main {
  padding-bottom: 2%;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@include respond-to(xxl) {}

@include respond-to(xl) {}

@include respond-to(lg) {
  :host ::ng-deep {
    .p-dock {
      z-index: 1000;
      align-items: end;
      position: fixed;
      .p-dock-list-container {
        background: none;
        border: none;
        margin-bottom: 7rem;
      }
      .p-dock-link {
        img {
          cursor: pointer;
          width: 5rem;
        }
      }
    }
  }

  ::ng-deep .p-scrolltop {
    z-index: 1000;
    margin-bottom: 70px;
  }

  .desktop-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }
}

@include respond-to(md) {
  :host ::ng-deep {
    .p-dock {
      .p-dock-list-container {
        margin-bottom: 6rem;
      }
    }
    .p-dock-list {
      margin: 0;
      align-self: end;
    }
  }

  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: block;
  }
}

@include respond-to(sm) {
}

@include respond-to(xs) {
}

@include respond-to(xxs) {
}
// @media (max-width: 599px) {
//   :host ::ng-deep {
//     .p-dock {
//       z-index: 1000;
//       margin-top: 35vh;
//       align-items: center;
//       position: fixed;
//       .p-dock-list-container {
//         background: none;
//         border: none;
//         height: auto;
//       }
//       .p-dock-link {
//         img {
//           width: 5rem;
//         }
//       }
//     }
//   }

//   ::ng-deep .p-scrolltop {
//     z-index: 1000;
//     margin-bottom: 70px;
//   }

//   .desktop-only {
//     display: none;
//   }
  
//   .mobile-only {
//     display: block;
//   }
// }
