<div class="course-item">
    <div class="course-item__container">
      <div class="course-item__container-header">
        <p-skeleton width="100%" height="150px" />
      </div>
  
      <div class="course-item__container-content">
        <p-skeleton styleClass="mb-2" />
        <p-skeleton width="50%" styleClass="mb-2" />
  
        <div class="course-item__container-content-amount">
            <p-skeleton width="100%" styleClass="mb-2" />
            <p-skeleton width="50%" styleClass="mb-2" />
            <p-skeleton height=".5rem" />
        </div>
  
        <div class="course-item__container-content-rating">
            <div class="flex justify-content-between mt-3">
                <p-skeleton width="5%" height="2rem" />
                <p-skeleton width="5%" height="2rem" />
            </div>
        </div>
      </div>
    </div>
  </div>
  