@import "../../../../../styles/variables";
@import "../../../../../styles/font_variables";

.course-mentor-list {
    margin-top: 2%;
    padding: 0% 15%;
    width: 75%;
    position: relative;

    &-what-will-you-learn {
        padding: 3%;
        border: 1px solid $border-color;

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            &-item {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 0.5rem;

                p {
                    margin-top: 0;
                }
            }
        }
    }

    &-course-content {
        &-header {
            font-weight: $font-weight-bold;
        }

        &-sub-header {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;

            &__item {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                align-items: center;

                p {
                    margin: 0;
                    font-size: $font-size-md;
                    font-weight: $font-weight-medium;
                }

                a {
                    flex: 1;
                    text-align: right;
                    color: $primary-main;
                    font-weight: $font-weight-semibold;
                    cursor: pointer;
                }
            }
        }

        &-section {
            &-header {
                &__title {
                    flex-basis: 70%;
                }
            }

            &-content {
                &-item {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &-first {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;

                        p {
                            font-size: $font-size-md;
                            font-weight: $font-weight-medium;
                        }

                        &__text {
                            white-space: nowrap; // Prevent text from wrapping to the next line
                            overflow: hidden; // Hide the overflow text
                            text-overflow: ellipsis; // Add ellipsis (...) if the text overflows
                            max-width: 40ch; // Set a maximum width, using 'ch' to approximately match the character count
                        }
                    }

                    &-last {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;

                        a {
                            color: #1c80cf;
                        }
                    }
                }
            }
        }
    }
}

.youtube-container {
    position: relative;
    padding: 0% 2% 2% 2%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            font-weight: $font-weight-bold;
        }

        &__close {
            &-btn {
                position: absolute;
                top: 0;
                right: 0;
                background-color: #fff;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
                z-index: 1;
            }
        }
    }

    &__video-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* 16:9 Aspect Ratio */
        height: 0;
        /* Set height to 0 to maintain the aspect ratio */
        overflow: hidden;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

/*
*************************************************
Style Web responsive (mobile)
*************************************************
*/
@media (max-width: 599px) {
    ::ng-deep {
        .p-dialog-mask.p-component-overlay {
            pointer-events: auto;
            align-items: start;
            padding-top: 2rem;
        }
    }

    .course-mentor-list {
        padding: 0% 5%;
        width: 100%;

        &-what-will-you-learn {
            &-list {
                &-item {
                    p {
                        margin-top: 0;
                        font-size: $font-size-md;
                    }
                }
            }
        }

        &-course-content {
            &-header {
                font-weight: $font-weight-bold;
            }

            &-sub-header {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 1rem;

                &__item {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    align-items: center;

                    p {
                        margin: 0;
                        font-size: $font-size-md;
                        font-weight: $font-weight-medium;
                    }

                    a {
                        flex: 1;
                        text-align: right;
                        color: $primary-main;
                        font-weight: $font-weight-semibold;
                        cursor: pointer;
                    }

                    i {
                        flex: 1;
                        color: $primary-main;
                    }
                }
            }

            &-section {
                &-header {
                    font-size: $font-size-md !important;

                    p {
                        display: none;
                    }

                    span {
                        white-space: nowrap; // Prevent text from wrapping to the next line
                        overflow: hidden; // Hide the overflow text
                        text-overflow: ellipsis; // Add ellipsis (...) if the text overflows
                        max-width: 25ch; // Set a maximum width, using 'ch' to approximately match the character count
                    }
                }

                &-content {
                    &-item {
                        &-first {
                            width: 100%;

                            p {
                                font-size: $font-size-sm;
                            }

                            &__text {
                                white-space: nowrap; // Prevent text from wrapping to the next line
                                overflow: hidden; // Hide the overflow text
                                text-overflow: ellipsis; // Add ellipsis (...) if the text overflows
                                max-width: 40ch; // Set a maximum width, using 'ch' to approximately match the character count
                            }
                        }

                        &-last {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .youtube-container {
        padding: 2% 1% 1% 1%;

        iframe {
            padding-bottom: 5%;
            height: 20rem;
        }
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}