@import "../../../../../styles/variables";
@import "../../../../../styles/font_variables";
/* navigation.component.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.course-mentor-info {
  padding: 0% 15%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;

  &__intro {
    h3 {
      margin-top: 0;
      color: $primary-700;
      margin-bottom: 5px;
      text-decoration: underline;
      cursor: pointer;
    }
    span {
      color: $primary-700;
      font-weight: $font-weight-light;
    }
  }

  &__image-stats {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &-image-link {
      img {
        width: 10rem;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    &-list-stat {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 1rem;
      align-items: center;
      margin-top: 1rem;

      &-item {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
        align-items: center;
        color: black;
        width: 100%;
      }
    }
  }

  &__job-title {
    font-weight: $font-weight-medium;
  }
}

/*
*************************************************
Style Web responsive (mobile)
*************************************************
*/
@media (max-width: 599px) {
  .course-mentor-info {
    padding: 0% 5%;
    width: 100%;

    &__image-stats {
      &-list-stat {
        &-item {
          span {
            font-size: 1rem;
          }
        }
      }
    }

    &__job-title {
      font-weight: $font-weight-medium;
      font-size: $font-size-md;
      p {
        margin-top: 0;
      }
    }
  }
}
