@import "../../../../../styles/variables";
@import "../../../../../styles/font_variables";

::ng-deep {
  .p-dialog-content {
    padding: 0;
    border-radius: 1rem;
  }

  .p-dialog-header {
    display: none;
  }

  .p-dialog {
    width: 40rem;
  }

  .p-button-link {
    color: #333;
    font-weight: $font-weight-regular;

    &:hover {
      color: $text-black;
      font-weight: $font-weight-semibold;
    }
  }

  .p-password {
    width: 100%;
  }

  .p-inputtext {
    width: 100%;
  }
}

.login {
  &__container {
    position: relative;
    z-index: 1;
    padding: 2rem 3rem;
    background-color: #ffffff;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;

    img {
      width: 5rem;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2;
      margin: 1rem 0px;
      color: black;
      text-align: center;
    }

    &-subtitle {
      text-align: center;
      color: #f33a58;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.5rem;

    &-username {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .error {
        border: 1px solid $error-color;
          color: $error-color;
      }

      small {
        color: $error-color;
      }
    }

    &-password {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .error {
        border: 1px solid $error-color;
          color: $error-color;
      }

      small {
        color: $error-color;
      }
    }
  }

  &__button {
    width: 70%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s;

    &--google {
      background-color: #fff;
      border: 2px solid #dce0e3;
      border-radius: 3rem;
      font-weight: 700;

      &:hover {
        background-color: #dce0e3;
      }
    }

    &--github {
      background-color: #333;
      color: #fff;
      border: 2px solid #dce0e3;
      border-radius: 3rem;
      font-weight: 700;

      &:hover {
        background-color: #dce0e3;
        color: #333;
      }
    }
  }

  &-signIn {
    width: 70%;
    color: $text-white;
    background: linear-gradient(to right, $button-secondary-1, $button-secondary-2);
    font-weight: $font-weight-bold;
    padding: 1rem;
    border-radius: 3rem;
    text-align: center;
    border: none;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to bottom left, $button-secondary-1, $button-secondary-2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.25);
    }
  }

  &__terms {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #666;
    text-align: center;

    a {
      color: #007bff;
      text-decoration: none;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #333;
  }

  &__back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
  }

  .disable {
    cursor: not-allowed;
  }
}

.login__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.09;
  background-image: radial-gradient(rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0) 40%),
    radial-gradient(rgb(255, 209, 82) 30%,
      rgba(255, 209, 82, 0.4) 41%,
      transparent 52%),
    radial-gradient(rgb(226, 105, 150),
      rgba(226, 105, 150, 0.4) 41%,
      transparent 52%),
    radial-gradient(rgb(160, 51, 255) 37%, transparent 46%),
    linear-gradient(155deg, transparent 65%, rgb(37, 212, 102) 95%),
    linear-gradient(45deg, rgb(0, 101, 224), rgb(15, 139, 255));
  background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
  background-position: left bottom, 109% 68%, 109% 68%, center center,
    center center;
}

/*
*************************************************
Style Web responsive (mobile)
*************************************************
*/
@media (max-width: 599px) {
  ::ng-deep {
    .p-dialog {
      width: 25rem;
    }
  }

  .login {
    &__logo {
      &-title {
        font-size: 1.5rem;
      }

      &-subtitle {
        font-size: 0.875rem;
        text-align: center;
        color: #f33a58;
      }
    }

    &__back {
      left: 0;
    }

    &__button {
      width: 100%;
    }

    &__options {
      &-username,
      &-password {
        width: 100%;
      }
    }
  }
}