<div class="main card flex flex-column align-items-center overflow-hidden">
  <div
   
    enterClass="fadein"
    leaveClass="fadeout"
    class="main__group_one flex box border-round"
  >
    <div class="main__context">
      <h1 class="mt-0">Dự án Unicourse - Nền tảng học tập trực tuyến</h1>
      <p>
        Với tầm nhìn trở thành nền tảng học tập trực tuyến hàng đầu tại Việt
        Nam, Unicourse đặt ra những mục tiêu đầy tham vọng cho tương lai. Trong
        ngắn hạn, nền tảng hướng đến việc tăng số lượng người dùng, mở rộng đối
        tượng khách hàng và phát triển trên nhiều nền tảng khác nhau. Về dài
        hạn, Unicourse mong muốn xây dựng lộ trình học tập cho nhiều ngành nghề
        khác nhau, mở rộng ra các trường đại học trên toàn quốc và thậm chí là
        xây dựng văn phòng đại diện riêng.
      </p>
      <img src="assets/images/about-us/about-us-1.webp" alt="about-us-1" />
    </div>
  </div>

  <div class="h-2rem"></div>

  <div
   
    enterClass="fadein"
    leaveClass="fadeout"
    class="main__group_one flex box border-round"
  >
    <div class="main__context">
      <h1>
        Dự án Unicourse: Nền tảng học tập trực tuyến nhận Học bổng Khởi nghiệp
        từ Trường Đại Học FPT
      </h1>
      <p>
        Unicourse, một dự án khởi nghiệp đầy tiềm năng của nhóm sinh viên Trường
        ĐH FPT, đã xuất sắc giành được học bổng khởi nghiệp trị giá hơn 30 triệu
        đồng từ trường. Với sứ mệnh cung cấp tài nguyên học tập toàn diện và lộ
        trình học tập rõ ràng cho sinh viên, Unicourse hướng đến việc giải quyết
        những khó khăn mà sinh viên thường gặp phải trong quá trình học tập.
      </p>

      <h2>Ý tưởng khởi nguồn từ trải nghiệm thực tế</h2>
      <p>
        Unicourse, một dự án khởi nghiệp đầy tiềm năng của nhóm sinh viên Trường
        ĐH FPT, đã xuất sắc giành được học bổng khởi nghiệp trị giá hơn 30 triệu
        đồng từ trường. Với sứ mệnh cung cấp tài nguyên học tập toàn diện và lộ
        trình học tập rõ ràng cho sinh viên, Unicourse hướng đến việc giải quyết
        những khó khăn mà sinh viên thường gặp phải trong quá trình học tập.
      </p>

      <h2>Hành trình nhận học bổng khởi nghiệp</h2>
      <p>
        Để biến ý tưởng thành hiện thực, nhóm đã không ngừng nỗ lực hoàn thiện
        dự án và mạnh dạn ứng tuyển Học bổng Khởi nghiệp của trường. Nhờ sự
        chuẩn bị kỹ lưỡng và tiềm năng phát triển của dự án, Unicourse đã được
        trao học bổng trị giá hơn 30 triệu đồng, tạo động lực lớn để nhóm tiếp
        tục phát triển nền tảng. Để biến ý tưởng thành hiện thực, nhóm đã không
        ngừng nỗ lực hoàn thiện dự án và mạnh dạn ứng tuyển Học bổng Khởi nghiệp
        của trường.
      </p>
      <p>
        Nhờ học bổng khởi nghiệp, dự án đã có bước chuyển mình mạnh mẽ, từ việc
        xây dựng cơ sở hạ tầng vững chắc đến tích hợp những công nghệ tiên tiến
        nhất. “Đây là lần đầu tiên chúng tôi có cơ hội hiện thực hóa ý tưởng của
        mình một cách trọn vẹn, từ việc triển khai chiến dịch marketing thực tế
        đến bán sản phẩm và dịch vụ do chính mình tạo ra.” Học bổng khởi nghiệp
        không chỉ là nguồn lực tài chính quý báu mà còn là động lực to lớn, tiếp
        thêm sức mạnh để Unicourse tự tin chinh phục thị trường.
      </p>

      <h2>Thách thức khi thực hiện dự án và giải pháp</h2>
      <p>
        Trong quá trình xây dựng Unicourse, nhóm đã đối mặt với nhiều thách thức
        về cả công nghệ lẫn kinh doanh. Việc xây dựng cơ sở hạ tầng công nghệ,
        đảm bảo an toàn dữ liệu và tạo ra một mô hình kinh doanh phù hợp là
        những bài toán khó mà nhóm phải giải quyết. Tuy nhiên, nhờ sự hỗ trợ từ
        giảng viên, cố vấn và tinh thần không ngại khó, nhóm đã từng bước vượt
        qua những khó khăn này.
      </p>
      <p>
        Unicourse áp dụng mô hình Lean Startup, tập trung vào việc nhanh chóng
        tung ra sản phẩm tối giản và liên tục cải tiến dựa trên phản hồi của
        người dùng. Đối tượng khách hàng chính của nền tảng là sinh viên, với
        nguồn doanh thu đến từ việc bán khóa học và chia sẻ hoa hồng với giảng
        viên. Để thu hút và giữ chân khách hàng, Unicourse đã triển khai nhiều
        chiến lược như tổ chức minigame, tạo nội dung chất lượng, giảm giá cho
        khách hàng mới và xây dựng chương trình khách hàng thân thiết.
      </p>
      <img
        class="main__context-img"
        src="assets/images/about-us/about-us-2.webp"
        alt="about-us-2"
      />

      <h2>Unicourse – dự án đầy hứa hẹn về lĩnh vực học tập</h2>
      <p>
        Với tầm nhìn trở thành nền tảng học tập trực tuyến hàng đầu tại Việt
        Nam, Unicourse đặt ra những mục tiêu đầy tham vọng cho tương lai. Trong
        ngắn hạn, nền tảng hướng đến việc tăng số lượng người dùng, mở rộng đối
        tượng khách hàng và phát triển trên nhiều nền tảng khác nhau. Về dài
        hạn, Unicourse mong muốn xây dựng lộ trình học tập cho nhiều ngành nghề
        khác nhau, mở rộng ra các trường đại học trên toàn quốc và thậm chí là
        xây dựng văn phòng đại diện riêng.
      </p>
      <img
        class="main__context-img"
        src="assets/images/about-us/about-us-3.webp"
        alt="about-us-3"
      />
    </div>
  </div>

  <div class="h-2rem"></div>

  <div
   
    enterClass="fadein"
    leaveClass="fadeout"
    class="main__group_one flex box border-round w-full"
  >
    <div class="main__context">
      <h1>Thành viên dự án Unicourse</h1>
      <div class="main__context-group">
        <p-card header="Đặng Minh Châu" subheader="Chuyên ngành Marketing">
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-minhchau.webp"
            />
          </ng-template>
          <p>Chief Executive Officer</p>
        </p-card>

        <p-card
          header="Nguyễn Thành Đạt"
          subheader="Chuyên ngành Kỹ Thuật Phần Mềm"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-thanhdat.webp"
            />
          </ng-template>
          <p>Chief Technology Officer</p>
        </p-card>

        <p-card
          header="Nguyễn Huy Khải"
          subheader="Chuyên ngành Kỹ Thuật Phần Mềm"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-huykhai.webp"
            />
          </ng-template>
          <p>Chief Financial Officer</p>
        </p-card>

        <p-card header="Mạc Tuấn Long" subheader="Chuyên ngành Marketing">
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-tuanlong.webp"
            />
          </ng-template>
          <p>Chief Marketing Officer</p>
        </p-card>

        <p-card
          header="Đinh Gia Bảo"
          subheader="Chuyên ngành Kỹ Thuật Phần Mềm"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-giabao.webp"
            />
          </ng-template>
          <p>Backend Developer</p>
        </p-card>

        <p-card header="Bùi Đức Trí" subheader="Chuyên ngành Kỹ Thuật Phần Mềm">
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-ductri.webp"
            />
          </ng-template>
          <p>Backend Developer</p>
        </p-card>

        <p-card
          header="Nguyễn Trung Kiên"
          subheader="Chuyên ngành Kỹ Thuật Phần Mềm"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-trungkien.webp"
            />
          </ng-template>
          <p>Mobile Developer</p>
        </p-card>

        <p-card
          header="Trần Quang Minh"
          subheader="Chuyên ngành Kỹ Thuật Phần Mềm"
        >
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="assets/images/about-us/about-us-avt-minh.webp"
            />
          </ng-template>
          <p>Mobile Developer</p>
        </p-card>
      </div>
    </div>
  </div>
</div>
