<div *ngIf="this.courseItem" class="course-item">
  <div class="course-item__container">
    <div class="course-item__container-header" (click)="redirectToCourseDetail(courseItem)">
      <img [src]="courseItem.thumbnail" alt="{{ courseItem.title }}" />
      <!-- <i
        class="course-item__container-header-icon pi pi-crown"
        style="color: #fdbe11; font-size: 1.5rem"
      ></i> -->
    </div>

    <div class="course-item__container-content">
      <p (click)="redirectToCourseDetail(courseItem)" pTooltip="{{ courseItem.title }}" tooltipPosition="top" placeholder="Top" class="course-item__container-content-title">
        {{ courseItem.title }}
      </p>

      <div class="course-item__container-content-amount">
        <ng-container *ngIf="courseItem && courseItem.price > 0; else freeCourse">
          <lord-icon class="course-item__container-content-amount-coin" src="https://cdn.lordicon.com/lxizbtuq.json" trigger="hover"></lord-icon>
          <span class="course-item__container-content-amount-mainprice">{{
            courseItem.price | number: '1.0-0'
          }}</span>
        </ng-container>
        <ng-template #freeCourse>
          <span class="course-item__container-content-amount-mainprice">Miễn phí</span>
        </ng-template>
      </div>

      <div class="course-item__container-content-rating">
        <p-rating [(ngModel)]="courseItem.average_rating" [readonly]="true" [cancel]="false" >
          <ng-template pTemplate="onicon">
            <i class="pi pi-star-fill" style="color: #fdbe11"></i>
          </ng-template>
          <ng-template pTemplate="officon">
            <i class="pi pi-star-fill" style="color: #c0c0c0"></i>
          </ng-template>
        </p-rating>
        <p>({{ courseItem.total_number_ratings }} đánh giá)</p>
      </div>

      <div routerLink="/lecturer/{{courseItem.lecturer.id}}" routerLinkActive="active" class="course-item__container-content-lecture">
        <p-avatar
          [image]="courseItem.lecturer.user?.profile_image"
          styleClass="mr-2"
          shape="circle"
        />
        <p>{{ courseItem.lecturer.user?.full_name }}</p>
      </div>
    </div>
  </div>
</div>
