@import "../../../../../styles/breakpoints"; // Import breakpoints
@import "../../../../../styles/mixins"; // Import mixin

.becoming_lecturer {
  padding: 0% 5%;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__image {
    img {
      width: 100%;
    }
  }

  &__content {
    &-title {
      font-size: 1.6rem;
    }
  }

  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/*
*************************************************
Style Web responsive (mobile)
*************************************************
*/
// width: 40rem;
@include respond-to(xxl) {}

@include respond-to(xl) {}

@include respond-to(lg) {
  .becoming_lecturer {
    &__image {
      display: block;
      width: 40rem;
      img {
        width: 100%;
      }
    }
  }
}

@include respond-to(md) {
  .becoming_lecturer {
    &__image {
      display: none;
      img {
        width: 100%;
      }
    }
  }
}

@include respond-to(sm) {
}

@include respond-to(xs) {
}

@include respond-to(xxs) {
}
