<div class="becoming_lecturer">
  <div class="becoming_lecturer__container">
    <div class="becoming_lecturer__image">
      <img src="assets/icons/matcos/Asset-1.svg" alt="becoming-lecturer" />
    </div>

    <div class="becoming_lecturer__content">
      <h2 class="becoming_lecturer__content-title">
        Bạn muốn trở thành giảng viên hoặc trợ giảng tại Unicourse?
      </h2>
      <p class="becoming_lecturer__content-description">
        Chúng tôi mang đến cho bạn những công cụ và kỹ năng cần thiết để bạn có
        thể truyền đạt niềm đam mê và kiến thức của mình một cách xuất sắc. Hãy
        nâng tầm khả năng giảng dạy và lan tỏa tình yêu học tập đến mọi người!
      </p>
      <p-button routerLinkActive="active" routerLink="contact" class="becoming_lecturer__description-btn" label="Ứng tuyển ngay" [outlined]="true" />
    </div>
  </div>
</div>